* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin: 0 auto;
}

.box {
  height: 50%;
  width: 60%;
  background-color: aqua;
  position: relative;
}

.image-big {
  height: 100%;
  
}

.image-big img {
  object-fit: cover;
  /* manca ridimensionamento img */
  height: 100%;
  width: 100%;
}

.circle {
  background-color: rgba(255, 255, 255, .7);
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
}

.circle.up {
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

.circle.down {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.circle:hover {
  background-color: rgba(255, 255, 255, .9);
  cursor: pointer;
}

.hide {
  display: none;
}